In [1]:
import pandas as pd

from src.SearchEngine import SearchEngine
engine = SearchEngine()

c:\Users\t_zim\miniconda3\envs\bible_app\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Execution

In [4]:
response = engine.tab1_engine(question = "who is my father?",
                                run_cross_encoder = "Yes",
                                testament = "All",
                                k = 5,
                                relevance = .50)

Cross Encoding...

In [5]:
response

,book,chapter,text,similarity score
712,John,15,"I am the true vine, and my Father is the husba...",0.309137
711,John,14,Let not your heart be troubled: ye believe in ...,0.400252
328,Ephesians,1,"Paul, an apostle of Jesus Christ by the will o...",0.267195
96,1 Samuel,20,"And David fled from Naioth in Ramah, and came ...",0.354515
266,Colossians,1,"Paul, an apostle of Jesus Christ by the will o...",0.281199

In [3]:
response

,book,chapter,text,similarity score
711,John,14,Let not your heart be troubled: ye believe in ...,0.400252
1163,Song of Solomon,3,By night on my bed I sought him whom my soul l...,0.398384
238,Acts,10,There was a certain man in Caesarea called Cor...,0.361350
96,1 Samuel,20,"And David fled from Naioth in Ramah, and came ...",0.354515
503,Hebrews,1,"God, who at sundry times and in divers manners...",0.349659